<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<test thread-count="5" name="Test">
		<classes>
			<class name="pathways2research.UAT.pathwayHomePageTest" />
			<class name="pathways2research.UAT.sustainabilityGroupPageTest" />
			<class name="pathways2research.UAT.educationGroupPageTest" />
			<class name="pathways2research.UAT.bussinessGroupPageTest" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->